.hero-image {
   background: 
      linear-gradient(180deg, #b85644c0 0%, #361914 100%), 
      url("../../img/hero-image.jpg"); 
   background-size: cover;
   height: 320px;
   padding-top: 35px;
}

@media only screen and (max-width: 768px) {
   .hero-image {
      height: 230px;
   }  
}  